@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .p-autocomplete-token {
        @apply pr-3 rounded-full;
    }

    .p-autocomplete-token-icon {
        @apply text-[#5E50A4] ml-1 text-sm cursor-pointer;
    }

    .p-autocomplete-token-icon:hover {
        @apply text-[#3e2d78];
    }
}

@layer components {
    .mentions--singleLine .mentions__control {
        display: inline-block;
    }
    .mentions--singleLine .mentions__higlighter {
        padding: 1px;
        border: 2px inset transparent;
    }
    .mentions--singleLine .mentions__input {
        padding: 5px;
        border: 2px inset;
    }
    .mentions--multiLine .mentions__control {
        font-size: 11pt;
        border: 1px solid silver;
        height: 300px;
        overflow-y: auto;
    }
    .mentions--multiLine .mentions__highlighter {
        padding: 9px;
    }
    .mentions--multiLine .mentions__input {
        padding: 9px;
        min-height: 63px;
        outline: 0;
        border: 0;
    }
    .mentions__suggestions__list {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 10pt;
    }
    .mentions__suggestions__item {
        padding: 5px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    .mentions__suggestions__item--focused {
        background-color: #DFDDFF;
    }
    .mentions__mention {
        background-color: #DFDDFF;
    }
    .mention {
        background-color: #DFDDFF;
    }
    .suggestion {
        display: flex;
        justify-content: start;
        gap: 10px;
    }
}
